.cell {
  -fx-border-color: black;
  -fx-border-width: 1px;
  -fx-background-color: white;
  -fx-font-size: 20px;
  -fx-alignment: center;
  -fx-font-weight: bold;
  -fx-text-fill: black;
  -fx-font-size: 20px;
}

.cell-given {
  -fx-background-color: #f0f0f0;
}

.cell-to-guess {
  -fx-background-color: #f0f0f0;
}

.cell-correct {
  -fx-background-color: #00ff00;
}

.cell-false {
  -fx-background-color: #ff0000;
}
