.root {
  -fx-padding: 10px;
}

.cell {
  -fx-width: 40px;
  -fx-height: 40px;
  -fx-display: flex;
  -fx-align-items: center;
  -fx-justify-content: center;
  -fx-background-color: white;
  -fx-postion: relative;
  border: 1px solid black;
}

.gameMenuBar {
  -fx-display: flex;
  -fx-justify-content: space-between;
  -fx-align-items: center;
  -fx-width: 100%;
}

.gridPane {
  -fx-border-color: black;
  -fx-border-width: 2px;
  -fx-border-style: solid;
  -fx-alignment: none;
}

.sudokuContainer {
  -fx-display: flex;
  -fx-justify-content: center;
  -fx-align-items: center;
  -fx-width: 100%;
}

.cell:disabled {
  -fx-display: flex;
  -fx-align-items: center;
  -fx-justify-content: center;
  -fx-background-color: white;
  -fx-color: black;
  -fx-opacity: 1;
}

.cell:focus {
  -fx-background-color: lightblue;
}

.cell-given {
  -fx-color: black;
  -fx-opacity: 1;
  -fx-background-color: white;
}

.cell-false {
  -fx-color: red;
}

.cell-correct {
  -fx-color: skyblue;
}
