.root {
  -fx-padding: 0px;
}

.sudoku-grid {
  -fx-border: 1px solid black;
}

.cell {
  -fx-display: flex;
  -fx-align-items: center;
  -fx-justify-content: center;
  -fx-font-size: 20px;
  -fx-width: 40px;
  -fx-height: 40px;
  -fx-border: 1px solid black;
  -fx-background-color: white;
}

.cell:focus {
  -fx-background-color: lightblue;
}

.cell-given {
  -fx-color: black;
  opacity: 1;
  background-color: white;
}

.cell-false {
  -fx-color: red;
}

.cell-correct {
  -fx-color: skyblue;
}
